@charset "UTF-8";
/*основной цвет текста #757575*/
/*цвет заголовков #212121*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*основной цвет фона #FFFFFF*/
/*вторичный цвет фона #F5F4FA*/
/*фон героя и футера #2F303A*/
/*цвет части логотипа #000000*/
/*цвет телефона и мейла в футере rgba(255, 255, 255, 0,6)*/
/*цвет рамки в хедере #ECECEC*/
/*цвет ссылок на соцсети #AFB1B8*/
:root {
  --primery-text-color: #757575;
  --title-color: #212121;
  --white-color: #ffffff;
  --accent: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-footer-background: #2f303a;
  --second-part-of-logo: #000000;
  --phone-mail-in-footer: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --cards-border: #eeeeee;
  --social-links-color: #afb1b8;
  --footer-social-links-back: rgba(255, 255, 255, 0.1);
  --services-title-bg: rgba(47, 48, 58, 0.8);
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --action-btn-color: #188ce8;
  --primary-text-font: Roboto, sans-serif;
  --logo-text-font: Raleway, sans-serif;
  --mobile-menu-socials-after: rgba(33, 33, 33, 0.2);
}

.services-list {
  display: flex;
  align-items: center;
}

.features-section__title, .services-section__title, .employees-section__title, .clients-section__title {
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .features-section__title, .services-section__title, .employees-section__title, .clients-section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.form-field__textarea, .form-field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Утилиты*/
ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
}

body {
  background-color: var(--main-background-color);
  color: var(--primery-text-color);
  font-family: var(--primary-text-font);
  letter-spacing: 0.03em;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*Скрытые заголовоки*/
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  color: var(--second-part-of-logo);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--first-part {
  color: var(--accent);
}

.logo-footer {
  color: var(--white-color);
}

.hero-section__oder-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;
  color: var(--white-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-section__oder-button:active {
  background-color: var(--action-btn-color);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;
  background-color: var(--accent);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.subscribe-btn:active {
  background-color: var(--action-btn-color);
}

.subscribe-btn__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.call-back-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  color: var(--white-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.call-back-submit-btn:active {
  background-color: var(--action-btn-color);
}

.filtr-button {
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-button:hover, .filtr-button:focus {
  color: var(--white-color);
  background-color: var(--accent);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .burger-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-btn:hover, .burger-btn:focus {
    fill: var(--accent);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.close-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn:hover, .close-menu-btn:focus {
  fill: var(--accent);
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: var(--white-color);
  background-color: var(--accent);
  border-radius: 50%;
}

.social-link__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link--footer-colors {
  color: var(--white-color);
  background-color: var(--footer-social-links-back);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  border-bottom-color: var(--header-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    padding: 10px 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-menu,
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    margin-left: 93px;
  }
}

.contact-list {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    justify-content: flex-start;
  }
}

.nav-menu__link {
  display: block;
  padding: 32px 0;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--accent);
}

.nav-menu__link--current {
  color: var(--accent);
  padding-bottom: 0;
}

.nav-menu__link--current::after {
  display: block;
  content: ' ';
  height: 4px;
  margin-top: 28px;
  background-color: var(--accent);
  border-radius: 2px;
}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) {
  .contact-list__link {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent);
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 10;
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow-y: auto;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-list {
  margin-bottom: 180px;
}

.mobile-menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-list__link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .mobile-menu-list__link {
    font-size: 24px;
  }
}

.mobile-menu-list__link:hover, .mobile-menu-list__link:focus {
  color: var(--accent);
}

.mobile-menu-list__link--current {
  color: var(--accent);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
}

.mobile-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .mobile-menu-contacts__link {
    font-size: 16px;
  }
}

.mobile-menu-contacts__link--accent-phone {
  font-size: 34px;
  line-height: 1.18;
  color: var(--accent);
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .mobile-menu-contacts__link--accent-phone {
    font-size: 20px;
  }
}

.mobile-menu-socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.mobile-menu-socials__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu-socials__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
}

@media screen and (min-width: 320px) and (max-width: 420px) {
  .mobile-menu-socials__link {
    font-size: 12px;
  }
}

.mobile-menu-socials__link--before::before {
  content: "";
  display: inline-block;
  width: 22px;
  margin-left: -10px;
  border-bottom: 1px solid var(--mobile-menu-socials-after);
  transform: rotate(90deg);
}

.hero-section {
  text-align: center;
}

.hero-section__image {
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-color: var(--hero-footer-background);
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero-section__image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section__image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section__image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section__image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__image {
    padding: 200px 0;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section__image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero-section__title {
  margin: 0 auto 30px;
  padding: 0 15px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    flex-wrap: nowrap;
  }
}

.features-list__item {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list__item {
    width: 354px;
  }
  .features-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list__item--icon-background {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .features-list__title {
    text-align: center;
  }
}

.features-list__discription {
  font-size: 14px;
  line-height: 1.71;
}

.services-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .services-section {
    display: block;
    padding-top: 0;
  }
}

.services-list {
  justify-content: space-between;
}

.services-list__item {
  position: relative;
}

.services-list__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--services-title-bg);
}

.employees-section {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .employees-cards {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .employees-cards {
    flex-wrap: nowrap;
  }
}

.employees-cards__item {
  width: 100%;
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.18;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.employees-cards__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees-cards__item {
    width: 354px;
    height: auto;
  }
  .employees-cards__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .employees-cards__item:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .employees-cards__item {
    width: 270px;
    height: auto;
  }
  .employees-cards__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.employees-cards__image {
  width: 100%;
  height: auto;
}

.employees-cards__caption {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .employees-cards__caption {
    padding-bottom: 30px;
  }
}

.employees-cards__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.employees-cards__text {
  margin-bottom: 16px;
}

.employee-social-links {
  display: flex;
  justify-content: center;
}

.employee-social-links__item:not(:last-child) {
  margin-right: 10px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  margin-bottom: 30px;
}

.clients-list__item:nth-child(n+5) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-links-color);
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .clients-list__link {
    width: 140px;
    height: 82px;
  }
}

@media screen and (min-width: 361px) and (max-width: 410px) {
  .clients-list__link {
    width: 160px;
    height: 88px;
  }
}

@media screen and (min-width: 411px) and (max-width: 460px) {
  .clients-list__link {
    width: 186px;
    height: 90px;
  }
}

@media screen and (min-width: 461px) and (max-width: 767px) {
  .clients-list__link {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
    height: 92px;
  }
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent);
  border: 1px solid var(--accent);
}

.clients-list__icon {
  fill: currentColor;
}

.page-footer {
  background-color: var(--hero-footer-background);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .tablet-positioning {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-positioning {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-positioning {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-contact {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
}

.footer-contact__address {
  margin-top: 20px;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address-list,
.address-list__item {
  margin-top: 8px;
}

@media screen and (max-width: 1200px) {
  .address-list,
  .address-list__item {
    margin-top: 9px;
  }
}

.address-list__link {
  color: var(--phone-mail-in-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: var(--accent);
}

@media screen and (min-width: 1200px) {
  .footer-invitation {
    margin-right: 93px;
  }
}

.footer-invitation__text,
.subscribing-form__text {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .footer-invitation__text,
  .subscribing-form__text {
    text-align: center;
  }
}

.footer-social-link-list {
  display: flex;
  justify-content: center;
}

.footer-social-links__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 1199px) {
  .subscribing-form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribing-form__area {
    display: flex;
  }
}

.subscribing-form__input {
  padding: 15px 16px;
  width: 100%;
  margin-bottom: 20px;
  color: var(--phone-mail-in-footer);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribing-form__input::placeholder {
  color: var(--phone-mail-in-footer);
}

@media screen and (min-width: 768px) {
  .subscribing-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribing-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.filtr-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .filtr-button-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.filtr-button-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filtr-button-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  overflow: auto;
  background-color: var(--overlay-bg);
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 380px) {
  .thumb__overlay {
    padding: 20px;
    font-size: 16px;
  }
}

@media screen and (min-width: 381px) and (max-width: 430px) {
  .thumb__overlay {
    padding: 20px;
  }
}

@media screen and (min-width: 768px) {
  .thumb__overlay {
    width: 354px;
    height: 100%;
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb__overlay {
    width: 100%;
    padding: 63px 24px;
  }
}

.gallery-list__link:hover .thumb__overlay,
.gallery-list__link:focus .thumb__overlay {
  transform: translateY(0%);
}

.gallery-list {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 480px) {
  .thumb__image {
    width: 100%;
    height: auto;
  }
}

.gallery-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list__item:hover, .gallery-list__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .gallery-list__item {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .gallery-list__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .gallery-list__item {
    width: 354px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list__item {
    width: 370px;
  }
}

.thumb__title {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.thumb__discription {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.thumb__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--cards-border);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: scale(1);
  background-color: var(--backdrop-color);
  transition: opacity 250ms linear, visibility 250ms linear, transform 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  overflow: auto;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    width: 100vw;
    max-height: 609px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.close-modal__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover .close-modal__icon,
.close-modal:focus .close-modal__icon {
  fill: var(--accent);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__title {
    line-height: 1.5;
  }
}

.call-back-form {
  display: block;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field--last-child-mg {
  margin-bottom: 20px;
}

.form-field__input--icon-position {
  position: relative;
}

.form-field__text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-field__textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form-field:focus-within .form-field__textarea {
  outline: none;
  border-color: var(--accent);
}

.form-field__textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input {
  height: 40px;
  padding-left: 42px;
}

.form-field:focus-within .form-field__input {
  outline: none;
  border-color: var(--accent);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-color);
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-field__icon {
  fill: var(--accent);
}

.agreement {
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
  }
}

.agreement__link {
  color: var(--accent);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  margin-right: 1px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .checkbox__icon {
  background-color: var(--accent);
  background-image: url(../images/checked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border: var(--accent);
  background-origin: border-box;
}

@media screen and (min-width: 1200px) {
  .checkbox__icon {
    margin-right: 7px;
  }
}

.checkbox__text {
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */