//Особенности оказания услуг

.features-section__title {
  @extend %section-title;
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;    
  } 
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features-list__item {
  width: 100%;

  @media screen and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  
  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(2n+1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-list__item--icon-background {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
}

.features-list__icon {
  width: 70px;
  height: 70px;
}

.features-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list__discription {
  font-size: 14px;
  line-height: 1.71;
}