//Стилизация шапки
.page-header {
  @media screen and (max-width: 767px) {
    position: relative;
    padding: 10px 0;
  }
  border-bottom-color: var(--header-border);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.nav-menu,
.contact-list {
  @media screen and (max-width: 767px) {
    display: none;
  } 
}

.nav-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;    
  }  

  @media screen and (min-width: 1200px) {
    margin-left: 93px; 
  }
}

.contact-list {
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contact-list__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;    
  }
}

.nav-menu__link {
  display: block;
  padding: 32px 0;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.nav-menu__link--current {
  color: var(--accent);
  padding-bottom: 0;

  &::after {
    display: block;
    content: ' ';
    height: 4px;
    margin-top: 28px;
    background-color: var(--accent);
    border-radius: 2px;
  }
}


.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact-list__link {
  @media screen and (min-width: 768px) {
   color: var(--primery-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent);
    }
  }
  
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding: 32px 0;

    font-size: 14px;
    line-height: 1.14;    
  }
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
}