.filtr-button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  //   @extend %align-items;
  //   justify-content: center;
  //   margin-top: -26px;
}

.filtr-button-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

//Оверлей
.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: var(--overlay-bg);
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .gallery-list__link:hover &,
  .gallery-list__link:focus & {
    transform: translateY(0%);
  }
}

.gallery-list {
  // @extend %align-items;
  // flex-wrap: wrap;
  margin-top: 40px;

  // margin-right: -30px;
  // margin-bottom: -30px;
}

@media screen and (max-width: 480px) {
  .thumb__image {
    width: 100%;
    height: auto;
  }
}

.gallery-list__item {
  width: 100%;
  height: auto;
  margin-bottom: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}

.thumb__title {
  margin-bottom: 4px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.thumb__discription {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.thumb__caption {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: var(--cards-border);
}
