.hero-section__oder-button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  border: none;

  color: var(--white-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  &:active {
    background-color: var(--action-btn-color);
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 28px;

  background-color: var(--accent);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  &:active {
    background-color: var(--action-btn-color);
  }
}

.subscribe-btn__icon {
  margin-left: 10px;
  fill: var(--white-color);
}

.call-back-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  color: var(--white-color);
  background-color: var(--accent);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  &:active {
    background-color: var(--action-btn-color);
  }
}

.filtr-button {
  padding: 6px 22px;

  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

.burger-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}


